<table border = "1">
  <tr>
    <td colspan = "3" class="comp">COMPETENCIAS TRANSVERSALES - <%= @user.grupo %></td>
    <td colspan = "2" class="comp titulo">EVALUACIÓN DOCENTE</td>
    <td colspan = "2" class="comp titulo">AUTOEVALUACIÓN</td>
  </tr>
  <tr class="uno">
    <td class="comp" rowspan = "2">Responsabilidad sobre las tareas</td>
    <td class="num">C1E1</td>
    <td><%= Indicator.find_by(nombre: 'C1E1').descripcion %></td>
    <td><%= @t_report.C1E1 %></td>
    <td rowspan = "2"><%= ((@t_report.C1E1).to_f + (@t_report.C1E2).to_f) %></td>
    <td class="num"><%= autoevaluacion.C1E1_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="uno">
    <td class="num">C1E3</td>
    <td><%= Indicator.find_by(nombre: 'C1E3').descripcion %></td>
    <td><%= @t_report.C1E3 %></td>
    <td class="num"><%= autoevaluacion.C1E3_tercero %></td>
  </tr>
  <tr class="dos">
    <td class="comp" rowspan = "2">Proactividad</td>
    <td class="num">C2E2</td>
    <td><%= Indicator.find_by(nombre: 'C2E2').descripcion %></td>
    <td><%= @t_report.C2E2 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C2E2_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="dos">
    <td class="num">C2E3</td>
    <td><%= Indicator.find_by(nombre: 'C2E3').descripcion %></td>
    <td><%= @t_report.C2E3 %></td>
    <td class="num"><%= autoevaluacion.C2E3_tercero %></td>
  </tr>
  <tr class="tres">
    <td class="comp" rowspan = "2">Comunicación</td>
    <td class="num">C3E4</td>
    <td><%= Indicator.find_by(nombre: 'C3E4').descripcion %></td>
    <td><%= @t_report.C3E4 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C3E4_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="tres">
    <td class="num">C3E5</td>
    <td><%= Indicator.find_by(nombre: 'C3E5').descripcion %></td>
    <td><%= @t_report.C3E5 %></td>
    <td class="num"><%= autoevaluacion.C3E5_tercero %></td>
  </tr>
  <tr class="cuatro">
    <td class="comp" rowspan = "2">Trabajo colaborativo</td>
    <td class="num">C4E2</td>
    <td><%= Indicator.find_by(nombre: 'C4E2').descripcion %></td>
    <td><%= @t_report.C4E2 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C4E2_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="cuatro">
    <td class="num">C4E3</td>
    <td><%= Indicator.find_by(nombre: 'C4E3').descripcion %></td>
    <td><%= @t_report.C4E3 %></td>
    <td class="num"><%= autoevaluacion.C4E3_tercero %></td>
  </tr>
  <tr class="cinco">
    <td class="comp" rowspan = "2">Apertura y pensamiento crítico</td>
    <td class="num">C5E3</td>
    <td><%= Indicator.find_by(nombre: 'C5E3').descripcion %></td>
    <td><%= @t_report.C5E3 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C5E3_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="cinco">
    <td class="num">C5E4</td>
    <td><%= Indicator.find_by(nombre: 'C5E4').descripcion %></td>
    <td><%= @t_report.C5E4 %></td>
    <td class="num"><%= autoevaluacion.C5E4_tercero %></td>
  </tr>
  <tr class="seis">
    <td class="comp" rowspan = "2">Desarrollo personal</td>
    <td class="num">C6E2</td>
    <td><%= Indicator.find_by(nombre: 'C6E2').descripcion %></td>
    <td><%= @t_report.C6E2 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C6E2_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="seis">
    <td class="num">C6E3</td>
    <td><%= Indicator.find_by(nombre: 'C6E3').descripcion %></td>
    <td><%= @t_report.C6E3 %></td>
    <td class="num"><%= autoevaluacion.C6E3_tercero %></td>
  </tr>
  <tr class="siete">
    <td class="comp" rowspan = "2">Alfabetización digital</td>
    <td class="num">C7E4</td>
    <td><%= Indicator.find_by(nombre: 'C7E4').descripcion %></td>
    <td><%= @t_report.C7E4 %></td>
    <td rowspan = "2"></td>
    <td class="num"><%= autoevaluacion.C7E4_tercero %></td>
    <td rowspan = "2"></td>
  </tr>
  <tr class="siete">
    <td class="num">C7E5</td>
    <td><%= Indicator.find_by(nombre: 'C7E5').descripcion %></td>
    <td><%= @t_report.C7E5 %></td>
    <td class="num"><%= autoevaluacion.C7E5_tercero %></td>
  </tr>
</table>
